:root {
    --color-background: {{ bg_color }};
    --color-primary: {{ primary_color }};
    --color-dark: {{ dark_color }};
    --color-light: {{ light_color }};
    --color-secondary: {{ secondary_color }};
    --color-teritary: {{ teritary_color }};
    --color-contrast: {{ contrast_color }};
    --color-text: {{ text_color }};
}
