<div class="unit-wrapper" id="{{ unit['id'] }}">

    <div class="unit-title-div">
        <div class="unit-header-wrapper">
            {% if 'costs' in unit.keys() %}
                <h1 class="medium-text light-color">{{ unit["costs"][0]["value"] }}</h1>
            {% else %}
                <h1></h1>
            {% endif %}
            <h1 class="medium-text light-color">{{ unit["name"] }}</h1>
            <h1><!-- Fictional --></h1>
        </div>
    </div>

    <div class="unit-main">

        <!-- Table of models in unit -->
        <table>
            <tr>
                <th>Models</th>
                <th>Options</th>
            </tr>
            
            {% if unit['type'] == 'model' %}

                <tr>
                    <td>{{ unit['name'] }}</td>
                    <td>
                        {% for selection in unit['selections'] %}
                            {% if selection['number'] > 1 %}{{ selection['number'] }} x {% endif %}{{ selection['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>

            {% elif unit['type'] == 'unit' %}

                {% for selection in unit['selections'] %}

                    <tr>
                        <td>{{ selection['number'] }} {{ selection['name'] }}</td>
                        <td>
                            {% for selec in selection['selections'] %}
                                {% if selec['number'] > 1 %}{{ selec['number'] }} x {% endif %}{{ selec['name'] }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                {% endfor %}

            {% endif %}

        </table>

        <!-- Table of model chars -->
        <table>
            <tr>
                <th>Unit</th>
                <th>M</th>
                <th>T</th>
                <th>SV</th>
                <th>W</th>
                <th>LD</th>
                <th>OC</th>
            </tr>

            <!-- Treat one-model units and non-one-model units differently -->
            {% if unit['type'] == 'model' %}
                <tr>
                    <td>{{ unit['name'] }}</td>

                    {% for char in unit['profiles'][0]['characteristics'] %}
                        <td>{{ char['$text'] }}</td>
                    {% endfor %}
                </tr>
            {% elif unit['type'] == 'unit' %}
                {% for selection in unit['selections'] %}
                    {% if 'profiles' in selection.keys() %}

                        <tr>
                            <td>{{ selection['name'] }}</td>
                            {% for char in selection['profiles'][0]['characteristics'] %}
                                <td>{{ char['$text'] }}</td>
                            {% endfor %}
                        </tr>

                    {% elif 'profiles' in unit.keys() %}
                        {% for profile in unit['profiles'] if profile['name'] == unit['name'] %}
                            <tr>
                                <td>{{ profile['name'] }}</td>

                                {% for char in profile['characteristics'] %}
                                    <td>{{ char['$text'] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% else %}

                        <h1>Weird, send me a json, ill look it up</h1>

                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>

        <!-- Table of ranged weapons -->
        {% if unit['ranged_choices'] | length > 0 %}
            <table>
                <tr>
                    <th>Ranged Weapons</th>
                    <th>Range</th>
                    <th>A</th>
                    <th>BS</th>
                    <th>S</th>
                    <th>AP</th>
                    <th>D</th>
                    <th>Keywords</th>
                </tr>

                {% for profile in unit['ranged_choices'] %}
                <tr>
                    {% if profile['number'] > 1 %}
                        <td>{{ profile['number'] }} x {{ profile['name'] }}</td>
                    {% else %}
                        <td>{{ profile['name'] }}</td>
                    {% endif %}

                    {% for char in profile['characteristics'] %}
                        <td>{{ char['$text'] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <!-- Table of melee weapons -->
        {% if unit['melee_choices'] | length > 0 %}
            <table>
                <tr>
                    <th>Melee Weapons</th>
                    <th>Range</th>
                    <th>A</th>
                    <th>WS</th>
                    <th>S</th>
                    <th>AP</th>
                    <th>D</th>
                    <th>Keywords</th>
                </tr>

                {% for profile in unit['melee_choices'] %}
                <tr>
                    {% if profile['number'] > 1 %}
                        <td>{{ profile['number'] }} x {{ profile['name'] }}</td>
                    {% else %}
                        <td>{{ profile['name'] }}</td>
                    {% endif %}

                    {% for char in profile['characteristics'] %}
                        <td>{{ char['$text'] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <!-- Conditional collapsable table of extra abilities -->
         {% if prefs['collapse_abilities'] %}
            {% for table_name, profiles in unit.get("extra_tables", {}).items() %}
                <details class="collapsible-table">
                    <summary><strong>{{ table_name }}</strong></summary>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Ability</th>
                        </tr>
                        {% for profile in profiles %}
                        <tr>
                            <td>{{ profile['name'] }}</td>
                            <td><pre>{{ profile['characteristics'][0]['$text'] }}</pre></td>
                        </tr>
                        {% endfor %}
                    </table>
                </details>
            {% endfor %}
        {% else %}  
            {% for table_name, profiles in unit.get("extra_tables", {}).items() %}
                <table>
                    <tr>
                        <th>{{ table_name }}</th>
                        <th>Ability</th>
                    </tr>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile['name'] }}</td>
                            <td><pre>{{ profile['characteristics'][0]['$text'] }}</pre></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% endif %}

        <div class="unit-meta">
            <h1 class="medium-text"><strong>Rules:</strong>
                {% for rule in unit.get('rules', []) %}
                    {{ rule['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </h1>

            <h1 class="medium-text"><strong>Categories:</strong>
                {% for cat in unit.get('categories', []) %}
                    {{ cat['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </h1>
        </div>
    </div>
</div>
