:root {
    --color-background: #000000;
    --color-primary: #00ffff;
    --color-dark: #193341;
    --color-light: #efefef;
    --color-secondary: #2a856a;
    --color-teritary: #e0e0e0;
    --color-contrast: #c75040;
    --color-text: black;
}