:root {
    --color-background: #ffffff;
    --color-primary: #649699;
    --color-dark: #193341;
    --color-light: #efefef;
    --color-secondary: #2a856a;
    --color-teritary: #e0e0e0;
    --color-contrast: #c75040;
    --color-text: #000000;
}
