* {
    margin: 0;
    cursor: default;

    line-height: 20px;
    
    font-family: sans-serif;
}

:root {
    --color-primary: #649699;
    --color-dark: #193341;
    --color-light: #efefef;
    --color-secondary: #2a856a;
    --color-teritary: #e0e0e0;
    --color-contrast: #c75040;
    --color-text: black;
}

header {
    height: 15vh;

    padding-block: 1%;

    border-bottom: 2px solid var(--color-primary);

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-around;
    align-items: center;
}

main, header, footer {
    width: 80vw;
    margin-left: 10vw;
}

pre {
    white-space: pre-wrap;
}

.textline-wrap {

    display: flex;
    flex-direction: row;

    gap: 5px;
}

.header-text {
    color: var(--color-text);
    font-weight: 400;
    font-size: xx-large;
}

.large-text {
    color: var(--color-text);
    font-weight: 400;
    font-size: larger;
}

.medium-text {
    color: var(--color-text);
    font-weight: 400;
    font-size: large;
}

.error-color {
    color: var(--color-contrast);
}

.primary-color {
    color: var(--color-primary);
}

.secondary-color {
    color: var(--color-secondary);
}

.teritary-color {
    color: var(--color-teritary);
}

.dark-color {
    color: var(--color-dark);
}

.light-color {
    color: var(--color-light);
}

.army-info-div {
    width: 100%;
    
    padding-block: 2.5%;
}

.faction-name {
    color: var(--color-text);
    font-size: large;
    font-weight: 400;

    text-align: center;
}

.army-rule-div {
    margin-top: 5%;
    padding-left: 2.5%;

    width: 95%;

    border-left: 2px solid var(--color-primary);
}

.top-margin {
    margin-top: 2.5%;
}

.selections-table {
    margin-block: 5%;
}

table {
    border-collapse: collapse;

    width: 100%;

    font-size: medium;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid var(--color-teritary);
    padding: 0.6rem 1rem;
    text-align: left;
}

th {
    background-color: var(--color-teritary);
}

tr:nth-child(odd) {
    background-color: var(--color-light);
}

footer {
    border-top: 2px solid var(--color-primary);
}

.rule-div {
    width: 100%;

    border-bottom: 2px solid var(--color-primary);
    
    display: flex;
    flex-direction: column;

    padding-block: 2%;
}

.rule-div > :nth-child(1) {
    margin-bottom: 1.5%;
}

.units-div {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.unit-wrapper {
    margin-bottom: 2.5%;

    display: flex;
    flex-direction: column;

    width: 100%;

    border-radius: 10px;
    border: 1px solid var(--color-teritary);

    overflow: hidden;
}

.unit-title-div {
    width: 100%;
    
    padding-block: 2.5%;

    background-color: var(--color-primary);
}

.unit-header-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    text-align: center;

    height: 100%;
    width: 95%;;

    margin-left: 2.5%;
}

.unit-main {
    display: flex;
    flex-direction: column;
}

.keyword {
    color: var(--color-contrast);
    font-weight: 600;
}

.collapsible-table {
    border: 1px solid var(--color-teritary);
    padding: 10px;
}

.collapsible-table table {
    margin-top: 2%;
    width: 100%;
    border-collapse: collapse;
}

.collapsible-table th,
.collapsible-table td {
    border: 1px solid var(--color-teritary);
    padding: 6px;
    text-align: left;
}

.unit-meta {
    margin-block: 1.25%;
    padding-inline: 2%;
}
